$white: white;

$color-primary: #E9286D;
$color-secondary: #FFFCAE; 
$color-tertiary: #5F44AC;

$color-placeholder: #606579;

$global-margin: 5vw;

$breakpoint-mobile: 480px;
$breakpoint-tablet: 800px;
$breakpoint-desktop: 1024px;